.services-container{
    width: 100%;
    background-color:var(--clr-darker-blue);
    color: var(--clr-text);
    margin: 2em auto;

    & h2{
        margin: 0.5em auto 1em auto;
        text-align: center;
    }
}

.services-cards-container{
    display: flex;
    flex-wrap: wrap;
    // margin: 0;
    width: 100%;
}