@import '../../styles/breakingPoints.scss';

.services-card{
    width: 150px;
    // max-width: 200px;
    // height:40px;
    border: none;
    border-radius: 5px;
    padding: 0.4em;
    margin: 0.3em ;
    background-color: var(--clr-lighter-blue);
    color: var(--clr-background);

    & h3{
        color: var(--clr-contrast);
        font-size: 1rem;
    }


    @media screen and (min-width:$screen-xs){
        // width: 90%;
        // margin: 0.5em auto;

    }
}

.service-card-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
