@import '../../styles/breakingPoints.scss';

.hero-wrapper{
    height: calc(100vh - 70px);
    // background-color: var(--clr-text);
    background: linear-gradient(110deg, var(--clr-darker-blue)20%, var(--clr-contrast)150%);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-container{
    margin: auto ;
    & div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:auto;
        // padding: 1em;
        background-color: var(--clr-contrast);
        color: var(--clr-background);
        // border-radius: 50%;
        width: 100vw;
        height:30vh ;
    }

    & a{
        background-color: var(--clr-contrast);
        color: var(--clr-text);
        padding: 0.7em 1.2em;
        font-weight: 700;
        border: none;
        border-radius: 5px;
        font-size:0.9rem;
        justify-content: center;
        margin:auto;
    }

    & h1{
        font-size: 2.5rem;
        color: var(--clr-background);
    }

    & h3{
        text-align: center;
        margin: 1em 0;
        font-size: 1rem;
        color: var(--clr-background);
    }
    & span{
        margin:0 auto;
    }

}


@media screen and (min-width:$screen-sm){
    .hero-container{
        & div{
            width: 550px;
            height: 550px
        }
        & h1{
            font-size: 5rem;
        }
        & h3{
            font-size: 1.5rem;
        }
        & a{
            font-size: 1rem;
        }
    }
}