
:root{
--clr-darker-blue: #242633;
--clr-lighter-blue: #3e4254;
--clr-contrast: #e3a93b;
--clr-text:#fffeff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	overflow: auto;
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
}

div {
	// max-width: 1900px;
	margin: auto;
}

button {
	cursor: pointer;
}