*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	overflow: auto;
	margin-right: 0.2rem;
	margin-left: 0.1rem;
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
}

div {
	// max-width: 1900px;
	margin: auto;
}

button {
	cursor: pointer;
}