@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Lato:wght@900&family=Roboto:wght@900&display=swap');

:root{
--clr-background: #fffeff;
--clr-darker-blue:#212331;
--clr-lighter-blue: #3e4254;
--clr-contrast: #e3a83b;
--clr-contrast-transparent: #e3a83b00;
--clr-text:#1d1d1d;
--main-font: 'Montserrat', 'Roboto', sans-serif;
--title-font: 'Lato', 'Roboto', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100%;
	font-family: var(--main-font);
	// font-size: 16px;
	overflow: auto;
	margin: 0;
	background-color: var(--clr-background);
	color: var(--clr-text)
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
}

div {
	// max-width: 1900px;
	margin: auto;
}

input, label, textarea{
	font: 400 16px var(--main-font);
}

button {
	cursor: pointer;
	font :400 0.825rem var(--main-font)
}

label,h1,h2,h3,h4,h5,h6{
	letter-spacing: 0.075rem;
	font-family: var(--title-font);
	
}

h1,h2,h3,h4,h5,h6{
	font-weight: 900;
}