
.post-preview-container{
    max-width: 400px;
    height: 350px;
    margin: 1em;
    display: block;
    color: var(--clr-text);
    border: 1px solid rgba(119, 117, 117, 0.4);
    border-radius: 10px;
    overflow: hidden;

    @media screen and (min-width:400px){
        height: 300px;
    }

}

.post-preview-text-container{
    padding: 1em;

    & h3{
        margin:0.5em auto;
    }
}

.post-preview-title{
    // margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    margin: 0 auto 0.5em auto;
}
.post-link-container{
    display: flex;
    justify-content: center;
    margin: 1em auto;

    @media screen and (min-width:720px){
      margin: 1em 2em;

    }
}

.post-link-wrapper{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}

.blog-page-title{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0.5em auto;
}

.blog-page-excerpt{
    margin: 0.5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;

    @media screen and (min-width:450px){
        margin:  0.5em auto;
    }

}