@import '../../styles/breakingPoints.scss';

.header {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	width: 100%;
    z-index: 200;
    // min-height: 50px;
	overflow: hidden;
	display: flex;
	// flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color:var(--clr-lighter-blue)  ;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23242633' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
	
	
}

.logo {
	display: flex;
	align-items: center;
	margin:0.7em 1em;
	font-size: 1.5rem;
	color: var(--clr-contrast);
	// min-width: 150px;
	// max-width: 300px;
	// max-height: 94px;
	// width: 30%;
}

.toggle-menu {
	font-size: 1.5rem;
	margin: auto 1em;
	color: var(--clr-contrast);
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	// position: absolute;
	// right: 3.5em;
	// top: 34px;

	&:focus {
		outline: none;
	}
}


@media screen and (min-width: $screen-md) {
	.toggle-menu {
		display: none;
	}
}

@media screen and (min-width: $screen-l) {
	.logo{
		max-height: 100px;
		width: 250px;
	}
}