@import '../../styles/breakingPoints.scss';

.post-prev-wrapper{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    max-width: 1300px;

    @media screen and (min-width:$screen-xs){
        display: grid;
        grid: auto/ repeat(2, 1fr)
    }
    @media screen and (min-width:$screen-md){
        display: grid;
        grid: auto/ repeat(3, 1fr)
    }
}
