.Infographics-container{
    // height: 50vh;
    margin: 2em 0.5em;
    padding: 0.5em 0;
    background-color: var(--clr-contrast);
    color: var(--clr-darker-blue);
    display: grid;
    grid: 1fr / 1fr 1fr;
}

.Infographics-section{
    margin: 1em 0.5em;
    font-weight: 500;
}


