.Infographics-container{
    // height: 50vh;
    width: 100%;
    margin: 2em 0.5em;
    padding: 0.5em 0;
    background-color: var(--clr-contrast);
}

.Infographics-section{
    margin: 1em 0.5em;
}


