.nav-links {
	// height: 10em;
	padding-bottom: 0.5em;
	font-weight: 400;
	font-size: 1.2rem;
	letter-spacing: 0.25rem;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

	& a {
		color: var(--clr-primary);

		&:hover {
			color: var(--clr-secondary);
		}
	}

	@media screen and (min-width: 1000px) {
		height: auto;
		flex-direction: row;
		width: 70%;
		font-size: 1.2rem;
		padding: 0 3% 0 0;
		margin-right: 2em;
		

		& li {
			display: flex;
			justify-content: space-between;
			padding: 0;
			margin: 0;
		}
		& a:hover {
			padding: 0;
			background: transparent;
		}
	}

	@media screen and (min-width: 1300px){
		padding-right: 10%;
	}
}
